<main class="part-four">
  <!-- <div class="overflow-controller w-100"> -->
    <section>
      <div class="container">
        <div class="testimonials">
          <div class="content">
            <h2>Testimonials</h2>
            <p>Join Our Team & Be One Of Our Partners</p>
            <button class="white-button" style="font-size: 20px;">Collaborate</button>
          </div>
          <div class="cards-cont">
            <div class="card">
              <div class="img-container ximg-container-special">
                <img class="xspecial-image" src="../../assets/bs-woman/beautiful-business-woman-with-dark-short-hair-white-shirt-holding-black-folder-hands-while-joyfully-looking-camera-blue-background.png" alt="">
                <div class="img-shadow">
                  <div class="img-content">
                    <h3>Aya Salah</h3>
                    <p class="title">Lorem ipsum dolor sit amet.</p>
                    <p class="details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam est veritatis vero voluptas! Accusantium, nemo.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="img-container">
                <img src="../../assets/Rectangle 38560/Rectangle 38560.png" alt="">
                <div class="img-shadow">
                  <div class="img-content">
                    <h3>Mostafa Ehab</h3>
                    <p class="title">Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="img-container">
                <img src="../../assets/Rectangle 38561/Rectangle 38561.png" alt="">
                <div class="img-shadow">
                  <div class="img-content">
                    <h3>Noura Mohamed</h3>
                    <p class="title">Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
