<main class="part-three">
  <img src="../../assets/Partner-bg/Partner-bg.png" alt="bg" id="background-image">

  <div class="container">
    <section class="first-sec">
      <div>
        <h1>Our Strategic Partner</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut laudantium voluptatum atque praesentium eligendi, reiciendis minima quo! Dolorem ipsa non assumenda repellat. Corrupti dolorem mollitia ratione aspernatur exercitationem quisquam dicta laborum recusandae obcaecati ipsum magnam neque, voluptas nostrum facilis placeat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ad.
        </p>
      </div>
      <div class="img-container"><img src="../../assets/Group 154949/Group 154949.png" alt=""></div>
    </section>

  </div>
  <section class="second-sec">
    <div class="first-content">
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>IST Networks</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>American Express</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Visa</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Emaar</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Payball</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>IST Networks</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>American Express</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Visa</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Emaar</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Payball</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
    </div>
    <div class="second-content">
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>EG Bank</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Master Card</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Commericial International Bank</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Cocacola</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Egypt Air</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Beyti</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Payball</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>EG Bank</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Master Card</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Commericial International Bank</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Cocacola</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Egypt Air</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Beyti</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Payball</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
      <div class="card">
        <img src="../../assets/Group 185/Group 185.png" alt="">
        <p>Banque Misr</p>
      </div>
    </div>
  </section>
</main>
