<main class="part-one">
  <video autoplay muted loop id="background-video">
    <source src="../../assets/Comp 3 (2).mp4" type="video/mp4">
  </video>

<div class="container h-100 d-flex flex-column justify-content-between" style="min-height: calc(100vh - 84px);">
  <div class="content-cont">
    <h1 class="main-title" >Your Next <span>Service</span> Starts Here</h1>
    <p class="description">Transforming Your Business With Premium Outsourcing Services For Streaming
      Processes And Maximum Efficiency
    </p>
    <button class="red-button" style="font-size: 20px;">Get In Touch</button>
  </div>
  <div class="cards-cont">
    <div class="my-card">
      <div class="img-cont">
        <img src="../../assets/icn-experience.svg" alt="">
      </div>
      <h2>10</h2>
      <p>Years Of Experience</p>
    </div>
    <div class="my-card">
      <div class="img-cont">
        <img src="../../assets/icn-solutions.svg" alt="">
      </div>
      <h2>100</h2>
      <p>Solutions & Services</p>
    </div>
    <div class="my-card">
      <div class="img-cont">
        <img src="../../assets/icn-clients.svg" alt="">
      </div>
      <h2>1000</h2>
      <p>Clients</p>
    </div>
    <div class="my-card">
      <div class="img-cont">
        <img src="../../assets/icn-partners.svg" alt="">
      </div>
      <h2>40</h2>
      <p>Partners</p>
    </div>
    <div class="my-card">
      <div class="img-cont">
        <img src="../../assets/icn-employees.svg" alt="">
      </div>
      <h2>3000</h2>
      <p>Employees</p>
    </div>
  </div>
</div>
</main>
