<main class="part-two">
  <div class="container">
    <h1>Our Services</h1>

    <div class="cards-cont">
      <div class="card">
        <div class="card-header">
          <h3>Contact Center</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>IT Services</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Technical Support</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>HR Outsourcing</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Cyber Security</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Data Center & Management</h3>
        </div>
        <p class="full-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas in odit quaerat tenetur sunt labore iure blanditiis aperiam modi?</p>
        <p class="res-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <a>Explore More <img src="../../assets/arrow-right.svg" alt=""></a>
      </div>
    </div>
  </div>
</main>
