<main class="part-three">
  <img src="../../assets/Group 155125/Group 155125.png" alt="bg" id="background-image">

  <div class="container h-100">
    <div class="content">
      <h1>Our Capabilities</h1>

      <div class="cards-cont">
        <div class="card">
          <div class="img-cont"><img src="../../assets/icn-expertise.svg" alt=""></div>
          <h3>Diversified Expertise</h3>
          <p class="full-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic ipsam nam, aperiam reprehenderit rem dolore neque,
            quod numquam eligendi odio. Cumque optio numquam, dicta labore quo deserunt consectetur possimus!
          </p>
          <p class="res-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque error consequatur nesciunt ex! Nulla, repellendus.</p>
        </div>
        <div class="card">
          <div class="img-cont"><img src="../../assets/icn-solutions.svg" alt=""></div>
          <h3>Comprehensive Solutions</h3>
          <p class="full-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic ipsam nam, aperiam reprehenderit rem dolore neque,
            quod numquam eligendi odio. Cumque optio numquam, dicta labore quo deserunt consectetur possimus!
          </p >
          <p class="res-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque error consequatur nesciunt ex! Nulla, repellendus.</p>
        </div>
        <div class="card">
          <div class="img-cont"><img src="../../assets/icn-employees.svg" alt=""></div>
          <h3>Customer-Centricity</h3>
          <p class="full-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic ipsam nam, aperiam reprehenderit rem dolore neque,
            quod numquam eligendi odio. Cumque optio numquam, dicta labore quo deserunt consectetur possimus!
          </p>
          <p class="res-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque error consequatur nesciunt ex! Nulla, repellendus.</p>
        </div>
      </div>
    </div>
  </div>
</main>
